div {
    /*border:1px solid red;*/
}

.header-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
    height: 45px;
    background-color: rgba(0, 0, 0, .65);
    background-color: #242424\9;
    /* for IE6-8 */
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
}
*/
.header-wrapper.hovered {
    background-color: rgba(0, 0, 0, 1);
    background-color: #000000\9;
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
}

div.header-wrapper { border:none; }

.header-nav {
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
}

.header-nav .logo {
    float: left;
    width: 60px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: 70% 45%;
    background-size: 80%;
    background-image: url("/image/www_logo_jidete.png");
    background-image: -webkit-image-set( url("/image/www_logo_jidete.png") 1x, url("/image/www_logo_jidete@15x.png") 1.5x, url("/image/www_logo_jidete@2x.png") 2x);
}

.menu_icon {
    position: absolute;
    float: left;
    right: 5px;
    top: 5px;
    padding: 11px 14px 11px 11px;
    width: 10px;
    height: 10px;
    display: block;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    text-align: center;
}

.header-nav .burger {
    display: none;
    margin: 0 auto;
}

.menu_icon span {
    display: block;
    width: 17px;
    height: 2px;
    background: #FFF;
    margin-bottom: 4px;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.clearfix:after {
    content: "\0020";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    overflow: hidden;
}

.header-wrapper .nav {
    display: block;
    float:right;
}

.header-nav .nav li {
    float: left;
    height: 45px;
    line-height: 45px;
    margin-right: 50px;
    font-size: 14px;
}

.nav li a {
    text-decoration: none;
    cursor: pointer;
    color: #fff!important;
}

.nav li a:hover, .nav li a.active {
    color: #ccc!important;
}

.product-container {
    display:none;
    background-color: #fff;
    width: 100%;
    height: 100px;
    padding: 20px 0 40px;
    z-index: 2000;
}

.product-list {
    display:none;
    max-width: 980px;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 100%;
    padding-top: 20px;
}

.product-list.narrow-list {
    width: 60%;
    max-width: 400px;
}

.product-list li {
    opacity: 50;
    text-align: center;
}

.product-list li a {
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
}

.product-list li a p {
    color: #333;
    margin-top: 12px;
}

.product-list.jide-header-sub-show, .product-list.jide-header-sub-show> div {
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-end;
}

.jide-header-sub-show li {
    opacity: 1\9\0;
    filter: alpha(opacity=100);
    -webkit-animation: jide-header-sub-show 1.5s forwards;
    animation: jide-header-sub-show 1.5s forwards;
}

.product-list li.unsel a {
    opacity: 0.5;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
}


@-webkit-keyframes jide-header-sub-show {
    from {
        opacity: 0;
        filter: alpha(opacity=0)
    }
    to {
        opacity: 1;
        filter: alpha(opacity=100)
    }
}
@keyframes jide-header-sub-show {
    from {
        opacity: 0;
        filter: alpha(opacity=0)
    }
    to {
        opacity: 1;
        filter: alpha(opacity=100)
    }
}

.product-list .jide-product {
    width: 59%;
    position: relative;
    border-right: 1px solid #e5e5e5;
}

.product-list .aoc-product {
    position: relative;
    width: 19%;
    border-right: 1px solid #e5e5e5;
}

.product-list .acer-product {
    position: relative;
    width: 20%;
}

.product-list .logos {
    position: absolute;
    left: 50%;
}

.product-list .logos.logo-jide {
    top: -26px;
    margin-left: -15px;
    width: 30px;
    height: 12px;
}

.product-list .logos.logo-aoc {
    top: -26px;
    margin-left: -41px;
    width: 82px;
    height: 12px;
}

.product-list .logos.logo-acer {
    top: -26px;
    margin-left: -48.5px;
    width: 97px;
    height: 12px;
}

.block-a {
    display: block;
    width: 100%;
}
.block-a img {
    margin: 0 auto;
    display: block;
}
.block-a:hover {
    text-decoration: none;
    color: #008cff;
}


.banners {
    width: 100%;
    /*height: 200px;*/
    border-top: 2px solid #fafafa;
    border-bottom: 2px solid #fafafa;
}
.banner-pic-container {
    margin: 0 auto;
    max-width: 1840px;
    /* height: 200px;*/
}
.pic25 {
    float: left;
    width: 25%;
    /*height: 200px;*/
}
.picbox {
    position: relative;
    /*height: 200px;*/
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    padding-right: 2px;
}
.picbox.last {
    padding-right: 0;
}
.picbox a {
    display: none;
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .15);
}
.picbox img {
    width: 100%;
}

body .RobotoLightFont {
    font-family: 'roboto_light'!important;
    font-weight: normal;
    text-decoration: none;
}